openapi: 3.0.3
info:
  title: Arcsecond.io OpenAPI
  version: v1
  contact:
    email: team@arcsecond.io
servers:
  - url: https://api.arcsecond.io
paths:
  /{organisation}/activities/:
    get:
      operationId: organisation_activities_retrieve
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      - name: page_size
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      tags:
      - activities
      security:
      - tokenAuth: []
      - tokenAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedActivityList'
          description: ''
    post:
      operationId: organisation_activities_create
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - activities
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Activity'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Activity'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Activity'
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
          description: ''
  /{organisation}/activities{format}:
    get:
      operationId: organisation_activities_retrieve_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      - name: page_size
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      tags:
      - activities
      security:
      - tokenAuth: []
      - tokenAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedActivityList'
          description: ''
    post:
      operationId: organisation_activities_create_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - activities
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Activity'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Activity'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Activity'
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
          description: ''
  /{organisation}/activities/{id}/:
    get:
      operationId: organisation_activities_detail_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - activities
      security:
      - tokenAuth: []
      - tokenAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
          description: ''
    put:
      operationId: activities_update
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - activities
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Activity'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Activity'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Activity'
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
          description: ''
    patch:
      operationId: activities_partial_update
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - activities
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedActivity'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedActivity'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedActivity'
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
          description: ''
    delete:
      operationId: activities_destroy
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - activities
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '204':
          description: No response body
  /{organisation}/activities/{id}{format}:
    get:
      operationId: organisation_activities_detail_retrieve_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - activities
      security:
      - tokenAuth: []
      - tokenAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
          description: ''
    put:
      operationId: activities_formatted_update
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - activities
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Activity'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Activity'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Activity'
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
          description: ''
    patch:
      operationId: activities_formatted_partial_update
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - activities
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedActivity'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedActivity'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedActivity'
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
          description: ''
    delete:
      operationId: activities_formatted_destroy
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - activities
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '204':
          description: No response body
  /{organisation}/calibrations/:
    get:
      operationId: organisation_calibrations_retrieve
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - calibrations
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganisationCalibration'
          description: ''
  /{organisation}/calibrations{format}:
    get:
      operationId: organisation_calibrations_retrieve_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - calibrations
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganisationCalibration'
          description: ''
  /{organisation}/calibrations/{uuid}/:
    get:
      operationId: organisation_calibrations_detail_retrieve
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - calibrations
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationCalibration'
          description: ''
  /{organisation}/calibrations/{uuid}{format}:
    get:
      operationId: organisation_calibrations_detail_retrieve_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - calibrations
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationCalibration'
          description: ''
  /{organisation}/datafiles/:
    get:
      operationId: organisation_datafiles_retrieve
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      - name: page_size
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      tags:
      - datafiles
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrganisationDataFileList'
          description: ''
    post:
      operationId: organisation_datafiles_create
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - datafiles
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationDataFile'
          '*/*':
            schema:
              $ref: '#/components/schemas/OrganisationDataFile'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataFile'
          description: ''
  /{organisation}/datafiles{format}:
    get:
      operationId: organisation_datafiles_retrieve_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      - name: page_size
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      tags:
      - datafiles
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrganisationDataFileList'
          description: ''
    post:
      operationId: organisation_datafiles_create_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - datafiles
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationDataFile'
          '*/*':
            schema:
              $ref: '#/components/schemas/OrganisationDataFile'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataFile'
          description: ''
  /{organisation}/datafolders/:
    get:
      operationId: organisation_datafilefolders_retrieve
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - datafolders
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          description: No response body
  /{organisation}/datafolders{format}:
    get:
      operationId: organisation_datafilefolders_retrieve_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - datafolders
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          description: No response body
  /{organisation}/datapackages/:
    get:
      operationId: organisation_datapackages_retrieve
      description: |-
        The list of data packages of an organisation.

        If not authenticated, or not a member of the organisation, only the list of
        public packages will be returned. Otherwise, all datasets of the organisation
        is returned.
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      - name: page_size
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      tags:
      - datapackages
      security:
      - tokenAuth: []
      - tokenAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrganisationDataPackageList'
          description: ''
    post:
      operationId: organisation_datapackages_create
      description: |-
        The list of data packages of an organisation.

        If not authenticated, or not a member of the organisation, only the list of
        public packages will be returned. Otherwise, all datasets of the organisation
        is returned.
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - datapackages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationDataPackage'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganisationDataPackage'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationDataPackage'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataPackage'
          description: ''
  /{organisation}/datapackages{format}:
    get:
      operationId: organisation_datapackages_retrieve_2
      description: |-
        The list of data packages of an organisation.

        If not authenticated, or not a member of the organisation, only the list of
        public packages will be returned. Otherwise, all datasets of the organisation
        is returned.
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      - name: page_size
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      tags:
      - datapackages
      security:
      - tokenAuth: []
      - tokenAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrganisationDataPackageList'
          description: ''
    post:
      operationId: organisation_datapackages_create_2
      description: |-
        The list of data packages of an organisation.

        If not authenticated, or not a member of the organisation, only the list of
        public packages will be returned. Otherwise, all datasets of the organisation
        is returned.
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - datapackages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationDataPackage'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganisationDataPackage'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationDataPackage'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataPackage'
          description: ''
  /{organisation}/datapackages/{uuid}/:
    get:
      operationId: organisation_datapackages_detail_retrieve
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datapackages
      security:
      - tokenAuth: []
      - tokenAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataPackage'
          description: ''
    post:
      operationId: organisation_datapackages_detail_create
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datapackages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationDataPackage'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationDataPackage'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataPackage'
          description: ''
    put:
      operationId: organisation_datapackages_detail_update
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datapackages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationDataPackage'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationDataPackage'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataPackage'
          description: ''
    patch:
      operationId: organisation_datapackages_detail_partial_update
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datapackages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationDataPackage'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationDataPackage'
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataPackage'
          description: ''
    delete:
      operationId: organisation_datapackages_detail_destroy
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datapackages
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '204':
          description: No response body
  /{organisation}/datapackages/{uuid}{format}:
    get:
      operationId: organisation_datapackages_detail_retrieve_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datapackages
      security:
      - tokenAuth: []
      - tokenAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataPackage'
          description: ''
    post:
      operationId: organisation_datapackages_detail_create_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datapackages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationDataPackage'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationDataPackage'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataPackage'
          description: ''
    put:
      operationId: organisation_datapackages_detail_update_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datapackages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationDataPackage'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationDataPackage'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataPackage'
          description: ''
    patch:
      operationId: organisation_datapackages_detail_partial_update_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datapackages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationDataPackage'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationDataPackage'
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataPackage'
          description: ''
    delete:
      operationId: organisation_datapackages_detail_destroy_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datapackages
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '204':
          description: No response body
  /{organisation}/datasetcounts/:
    get:
      operationId: datasetcounts_list
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - datasetcounts
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DatasetCount'
          description: ''
  /{organisation}/datasetcounts{format}:
    get:
      operationId: datasetcounts_formatted_list
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - datasetcounts
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DatasetCount'
          description: ''
  /{organisation}/datasets/:
    get:
      operationId: organisation_datasets_retrieve
      description: |-
        The list of datasets of an organisation.
        If not authenticated, or not a member of the organisation, only the list of
        public datasets will be returned. Otherwise, all datasets of the organisation
        is returned.
        The list can be filtered with two parameters: 'date' and 'program' identifier
        (in the case the datasets are associated with observation programs – like
        in large observatories).
        As for the date, it can be provided in various reasonable formats a standard
        parser can understand. The simplest example is: ?date=2018-01-30
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - datasets
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganisationDataset'
          description: ''
    post:
      operationId: organisation_datasets_create
      description: |-
        The list of datasets of an organisation.
        If not authenticated, or not a member of the organisation, only the list of
        public datasets will be returned. Otherwise, all datasets of the organisation
        is returned.
        The list can be filtered with two parameters: 'date' and 'program' identifier
        (in the case the datasets are associated with observation programs – like
        in large observatories).
        As for the date, it can be provided in various reasonable formats a standard
        parser can understand. The simplest example is: ?date=2018-01-30
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - datasets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationDataset'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganisationDataset'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationDataset'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataset'
          description: ''
  /{organisation}/datasets{format}:
    get:
      operationId: organisation_datasets_retrieve_2
      description: |-
        The list of datasets of an organisation.
        If not authenticated, or not a member of the organisation, only the list of
        public datasets will be returned. Otherwise, all datasets of the organisation
        is returned.
        The list can be filtered with two parameters: 'date' and 'program' identifier
        (in the case the datasets are associated with observation programs – like
        in large observatories).
        As for the date, it can be provided in various reasonable formats a standard
        parser can understand. The simplest example is: ?date=2018-01-30
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - datasets
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganisationDataset'
          description: ''
    post:
      operationId: organisation_datasets_create_2
      description: |-
        The list of datasets of an organisation.
        If not authenticated, or not a member of the organisation, only the list of
        public datasets will be returned. Otherwise, all datasets of the organisation
        is returned.
        The list can be filtered with two parameters: 'date' and 'program' identifier
        (in the case the datasets are associated with observation programs – like
        in large observatories).
        As for the date, it can be provided in various reasonable formats a standard
        parser can understand. The simplest example is: ?date=2018-01-30
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - datasets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationDataset'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganisationDataset'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationDataset'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataset'
          description: ''
  /{organisation}/datasets/{uuid}/:
    get:
      operationId: organisation_datasets_detail_retrieve
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datasets
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataset'
          description: ''
    put:
      operationId: organisation_datasets_detail_update
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datasets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationDataset'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganisationDataset'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationDataset'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataset'
          description: ''
    patch:
      operationId: organisation_datasets_detail_partial_update
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datasets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationDataset'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationDataset'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationDataset'
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataset'
          description: ''
    delete:
      operationId: organisation_datasets_detail_destroy
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datasets
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '204':
          description: No response body
  /{organisation}/datasets/{uuid}{format}:
    get:
      operationId: organisation_datasets_detail_retrieve_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datasets
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataset'
          description: ''
    put:
      operationId: organisation_datasets_detail_update_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datasets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationDataset'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganisationDataset'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationDataset'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataset'
          description: ''
    patch:
      operationId: organisation_datasets_detail_partial_update_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datasets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationDataset'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationDataset'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationDataset'
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataset'
          description: ''
    delete:
      operationId: organisation_datasets_detail_destroy_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datasets
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '204':
          description: No response body
  /{organisation}/datasets/{uuid}/datafiles/:
    get:
      operationId: organisation_datafiles_retrieve_3
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      - name: page_size
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datasets
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrganisationDataFileList'
          description: ''
    post:
      operationId: organisation_datafiles_create_3
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datasets
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationDataFile'
          '*/*':
            schema:
              $ref: '#/components/schemas/OrganisationDataFile'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataFile'
          description: ''
  /{organisation}/datasets/{uuid}/datafiles{format}:
    get:
      operationId: organisation_datafiles_retrieve_4
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - name: page
        required: false
        in: query
        description: A page number within the paginated result set.
        schema:
          type: integer
      - name: page_size
        required: false
        in: query
        description: Number of results to return per page.
        schema:
          type: integer
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datasets
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOrganisationDataFileList'
          description: ''
    post:
      operationId: organisation_datafiles_create_4
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datasets
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationDataFile'
          '*/*':
            schema:
              $ref: '#/components/schemas/OrganisationDataFile'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataFile'
          description: ''
  /{organisation}/datasets/{uuid}/datafiles/{name}/:
    get:
      operationId: organisation_datafiles_detail_retrieve
      parameters:
      - in: path
        name: name
        schema:
          type: string
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datasets
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataFile'
          description: ''
    put:
      operationId: datasets_datafiles_update_3
      parameters:
      - in: path
        name: name
        schema:
          type: string
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datasets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationDataFile'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationDataFile'
          '*/*':
            schema:
              $ref: '#/components/schemas/OrganisationDataFile'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataFile'
          description: ''
    patch:
      operationId: datasets_datafiles_partial_update_3
      parameters:
      - in: path
        name: name
        schema:
          type: string
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datasets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationDataFile'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationDataFile'
          '*/*':
            schema:
              $ref: '#/components/schemas/PatchedOrganisationDataFile'
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataFile'
          description: ''
    delete:
      operationId: datasets_datafiles_destroy_3
      parameters:
      - in: path
        name: name
        schema:
          type: string
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datasets
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '204':
          description: No response body
  /{organisation}/datasets/{uuid}/datafiles/{name}{format}:
    get:
      operationId: organisation_datafiles_detail_retrieve_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: name
        schema:
          type: string
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datasets
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataFile'
          description: ''
    put:
      operationId: datasets_datafiles_formatted_update_3
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: name
        schema:
          type: string
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datasets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationDataFile'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationDataFile'
          '*/*':
            schema:
              $ref: '#/components/schemas/OrganisationDataFile'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataFile'
          description: ''
    patch:
      operationId: datasets_datafiles_formatted_partial_update_3
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: name
        schema:
          type: string
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datasets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationDataFile'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationDataFile'
          '*/*':
            schema:
              $ref: '#/components/schemas/PatchedOrganisationDataFile'
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationDataFile'
          description: ''
    delete:
      operationId: datasets_datafiles_formatted_destroy_3
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: name
        schema:
          type: string
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - datasets
      security:
      - tokenAuth: []
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '204':
          description: No response body
  /{organisation}/datastoragepoints/:
    get:
      operationId: datastoragepoints_list
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - datastoragepoints
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DirectDataStoragePoint'
          description: ''
  /{organisation}/datastoragepoints{format}:
    get:
      operationId: datastoragepoints_formatted_list
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - datastoragepoints
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DirectDataStoragePoint'
          description: ''
  /{organisation}/detectors/:
    get:
      operationId: detectors_list
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - detectors
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganisationCCD'
          description: ''
  /{organisation}/detectors{format}:
    get:
      operationId: detectors_formatted_list
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - detectors
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganisationCCD'
          description: ''
  /{organisation}/detectors/{id}/:
    get:
      operationId: detectors_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - detectors
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationCCD'
          description: ''
    put:
      operationId: detectors_update
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - detectors
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationCCD'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganisationCCD'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationCCD'
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationCCD'
          description: ''
    patch:
      operationId: detectors_partial_update
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - detectors
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationCCD'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationCCD'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationCCD'
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationCCD'
          description: ''
  /{organisation}/detectors/{id}{format}:
    get:
      operationId: detectors_formatted_retrieve
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - detectors
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationCCD'
          description: ''
    put:
      operationId: detectors_formatted_update
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - detectors
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationCCD'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganisationCCD'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationCCD'
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationCCD'
          description: ''
    patch:
      operationId: detectors_formatted_partial_update
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - detectors
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationCCD'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationCCD'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationCCD'
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationCCD'
          description: ''
  /{organisation}/events/:
    get:
      operationId: events_list
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - events
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganisationScheduleEvent'
          description: ''
    post:
      operationId: events_create
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationScheduleEvent'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganisationScheduleEvent'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationScheduleEvent'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationScheduleEvent'
          description: ''
  /{organisation}/events{format}:
    get:
      operationId: events_formatted_list
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - events
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganisationScheduleEvent'
          description: ''
    post:
      operationId: events_formatted_create
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationScheduleEvent'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganisationScheduleEvent'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationScheduleEvent'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationScheduleEvent'
          description: ''
  /{organisation}/events/{id}/:
    get:
      operationId: events_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - events
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationScheduleEvent'
          description: ''
    put:
      operationId: events_update
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationScheduleEvent'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganisationScheduleEvent'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationScheduleEvent'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationScheduleEvent'
          description: ''
    patch:
      operationId: events_partial_update
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationScheduleEvent'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationScheduleEvent'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationScheduleEvent'
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationScheduleEvent'
          description: ''
    delete:
      operationId: events_destroy
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - events
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '204':
          description: No response body
  /{organisation}/events/{id}{format}:
    get:
      operationId: events_formatted_retrieve
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - events
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationScheduleEvent'
          description: ''
    put:
      operationId: events_formatted_update
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationScheduleEvent'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganisationScheduleEvent'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationScheduleEvent'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationScheduleEvent'
          description: ''
    patch:
      operationId: events_formatted_partial_update
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationScheduleEvent'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationScheduleEvent'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationScheduleEvent'
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationScheduleEvent'
          description: ''
    delete:
      operationId: events_formatted_destroy
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - events
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '204':
          description: No response body
  /{organisation}/instruments/:
    get:
      operationId: organisation_instruments_retrieve
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - instruments
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganisationInstrument'
          description: ''
  /{organisation}/instruments{format}:
    get:
      operationId: organisation_instruments_retrieve_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - instruments
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganisationInstrument'
          description: ''
  /{organisation}/instruments/{uuid}/:
    get:
      operationId: organisation_instruments_detail_retrieve
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - instruments
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationInstrument'
          description: ''
    put:
      operationId: organisation_instruments_detail_update
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - instruments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationInstrument'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganisationInstrument'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationInstrument'
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationInstrument'
          description: ''
    patch:
      operationId: organisation_instruments_detail_partial_update
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - instruments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationInstrument'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationInstrument'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationInstrument'
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationInstrument'
          description: ''
  /{organisation}/instruments/{uuid}{format}:
    get:
      operationId: organisation_instruments_detail_retrieve_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - instruments
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationInstrument'
          description: ''
    put:
      operationId: organisation_instruments_detail_update_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - instruments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationInstrument'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganisationInstrument'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationInstrument'
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationInstrument'
          description: ''
    patch:
      operationId: organisation_instruments_detail_partial_update_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - instruments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationInstrument'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationInstrument'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationInstrument'
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationInstrument'
          description: ''
  /{organisation}/invitations/:
    get:
      operationId: organisation_invitations_retrieve
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - invitations
      security:
      - tokenAuth: []
      - tokenAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganisationInvitationUpdate'
          description: ''
    post:
      operationId: organisation_invitations_create
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - invitations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationInvitationCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganisationInvitationCreate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationInvitationCreate'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationInvitationCreate'
          description: ''
  /{organisation}/invitations{format}:
    get:
      operationId: organisation_invitations_retrieve_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - invitations
      security:
      - tokenAuth: []
      - tokenAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganisationInvitationUpdate'
          description: ''
    post:
      operationId: organisation_invitations_create_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - invitations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationInvitationCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganisationInvitationCreate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationInvitationCreate'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationInvitationCreate'
          description: ''
  /{organisation}/invitations/{token}/:
    get:
      operationId: organisation_invitations_detail_retrieve
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: token
        schema:
          type: string
        required: true
      tags:
      - invitations
      security:
      - tokenAuth: []
      - tokenAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationInvitationUpdate'
          description: ''
    put:
      operationId: organisation_invitations_detail_update
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: token
        schema:
          type: string
        required: true
      tags:
      - invitations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationInvitationUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganisationInvitationUpdate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationInvitationUpdate'
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationInvitationUpdate'
          description: ''
    patch:
      operationId: organisation_invitations_detail_partial_update
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: token
        schema:
          type: string
        required: true
      tags:
      - invitations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationInvitationUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationInvitationUpdate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationInvitationUpdate'
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationInvitationUpdate'
          description: ''
    delete:
      operationId: organisation_invitations_detail_destroy
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: token
        schema:
          type: string
        required: true
      tags:
      - invitations
      security:
      - tokenAuth: []
      - tokenAuth: []
      - {}
      responses:
        '204':
          description: No response body
  /{organisation}/invitations/{token}{format}:
    get:
      operationId: organisation_invitations_detail_retrieve_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: token
        schema:
          type: string
        required: true
      tags:
      - invitations
      security:
      - tokenAuth: []
      - tokenAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationInvitationUpdate'
          description: ''
    put:
      operationId: organisation_invitations_detail_update_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: token
        schema:
          type: string
        required: true
      tags:
      - invitations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganisationInvitationUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganisationInvitationUpdate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganisationInvitationUpdate'
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationInvitationUpdate'
          description: ''
    patch:
      operationId: organisation_invitations_detail_partial_update_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: token
        schema:
          type: string
        required: true
      tags:
      - invitations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationInvitationUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationInvitationUpdate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedOrganisationInvitationUpdate'
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganisationInvitationUpdate'
          description: ''
    delete:
      operationId: organisation_invitations_detail_destroy_2
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      - in: path
        name: token
        schema:
          type: string
        required: true
      tags:
      - invitations
      security:
      - tokenAuth: []
      - tokenAuth: []
      - {}
      responses:
        '204':
          description: No response body
  /{organisation}/members/:
    get:
      operationId: members_list
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - members
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MembershipList'
          description: ''
    post:
      operationId: members_create
      parameters:
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - members
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MembershipCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MembershipCreate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MembershipCreate'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembershipCreate'
          description: ''
  /{organisation}/members{format}:
    get:
      operationId: members_formatted_list
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - members
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MembershipList'
          description: ''
    post:
      operationId: members_formatted_create
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - members
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MembershipCreate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MembershipCreate'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MembershipCreate'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembershipCreate'
          description: ''
  /{organisation}/members/{id}/:
    get:
      operationId: members_retrieve
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - members
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembershipList'
          description: ''
    put:
      operationId: members_update
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - members
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MembershipList'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MembershipList'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MembershipList'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembershipList'
          description: ''
    patch:
      operationId: members_partial_update
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - members
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedMembershipList'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedMembershipList'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedMembershipList'
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembershipList'
          description: ''
    delete:
      operationId: members_destroy
      parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - members
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '204':
          description: No response body
  /{organisation}/members/{id}{format}:
    get:
      operationId: members_formatted_retrieve
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - members
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembershipList'
          description: ''
    put:
      operationId: members_formatted_update
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - members
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MembershipList'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MembershipList'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MembershipList'
        required: true
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembershipList'
          description: ''
    patch:
      operationId: members_formatted_partial_update
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
        name: organisation
        schema:
          type: string
        required: true
      tags:
      - members
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedMembershipList'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedMembershipList'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedMembershipList'
      security:
      - tokenAuth: []
      - tokenAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembershipList'
          description: ''
    delete:
      operationId: members_formatted_destroy
      parameters:
      - in: path
        name: format
        schema:
          type: string
          enum:
          - .json
        required: true
      - in: path
        name: id
        schema:
          type: integer
        required: true
      - in: path
[...]
